<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bounce Ball Game with Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Bounce Ball Game</h1>
    <div id="game-container">
        <canvas id="gameCanvas"> </canvas>
        <button id="play-again-btn">Play Again</button>    
    </div>
<div class="leaderboard-cls"></div>
     

<button class="btn"><a href="/leaderboard_history">View Leaderboard History</a></button>

    <script src="/static/game.js"></script>
</body>
</html>
